<div class="container">
  <div class="row">
    <form [formGroup]="otploginForm" class="form-container form">
      <mat-card class="border">
        <!-- <div style="text-align: center;">
          <mat-card-title class="title font" >Patient Login</mat-card-title>
        </div> -->
        <div class="mb-4">
          <p style="text-align: center;"> <img src="/assets/p.png" width="50px" height="50px" alt="">
          </p>
          <h1 class="font text-center">Patient Login</h1>
          
      </div>
        <mat-card-content style="margin-top: 20px;">
          <div>
            <mat-form-field style="width: 68%;" appearance='outline'>
              <mat-label class="font">Enter mail to send OTP</mat-label>
              <input class="font" matInput placeholder="abc@email.com" formControlName="email" required>
              <mat-error *ngIf="email.dirty && email.invalid">Valid Email is required.</mat-error>
            </mat-form-field>
            <button type="button" class="font" color="primary" mat-button class="otp-bt1" [disabled]="isSendDisabled"
              (click)="sendOtp()">Send-OTP</button>
          </div>
          <div *ngIf="otpmessage">
            <h5 class="alert-green font">OTP sent to mail</h5>
          </div>


          <div *ngIf="ifOtpSent">
            <mat-form-field style="width: 67%;" appearance="outline">
              <mat-label class="font">Enter OTP sent to mail</mat-label>
              <input matInput class="font" [type]="hide ? 'password' : 'text'" formControlName="otp" required>
              <mat-error *ngIf="otp.dirty && otp.invalid">Enter valid OTP</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <button type="button" class="font" color="primary" mat-button class="otp-bt" [disabled]="!this.otploginForm.valid"
              (click)="verifyOtp()">Verify-OTP</button>
          </div>
          <div *ngIf="otpVerified">
            <h5 class="alert-green font">OTP verified</h5>
          </div>
          <div *ngIf="otpinvalid">
            <h5 class="alert-red font">OTP invalid, enter valid otp!</h5>
          </div>

          <div *ngIf="success" class="alert alert-success font" role="alert">
            <strong>Successfully Loggedin.<br></strong>
            Redirecting to your page...
          </div>

          <!-- 
          <div style="text-align: center; ">
            <button type="button" style="margin-top: 5px; color: white;" mat-raised-button class="color"
              (click)="onSubmitLogin()">Login</button>
          </div> -->
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>