<nav class="navbar navbar-expand-lg navbar-light fixed-top nav1">
    <div class="container">
        <a class="navbar-brand font" href="#">
            <img src="/assets/p.png" width="40" height="40" class="d-inline-block mr-1" alt="">
            <span class="pand">andoptimist</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active mr-1 font hover1" aria-current="page" routerLink="/home">Home</a>
          <!-- </li>
          <li class="nav-item">
            <a class="nav-link active mr-1 font hover1" aria-current="page" routerLink="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mr-1 font hover1" aria-current="page" routerLink="/contact">Contact</a>
          </li> -->


          <li>
            <div *ngIf="sosbutton">
              <button type="button" class="btn btn-danger ml-2 font" routerLink="/patient-login">SOS
                Request</button>
                    </div>
                </li>

            </ul>
            <div *ngIf="!loggedin" class="ml-auto">
                <button mat-button style="font-size: 16.5px;" class="hover1" style="font-size: medium;" routerLink="/login"><i
              class="fas fa-sign-in-alt fa-1x enter"></i>Sign Up/Login</button>
            </div>
            <div *ngIf="loggedin" class="ml-auto">
                <button mat-button style="font-size: 16.5px;" class="hover1" (click)="logout()">Logout<i
              class="fas fa-sign-in-alt fa-1x enter1"></i></button>
            </div>
        </div>
    </div>
</nav>