@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.hover1:hover{
  /* color:#4154f1; */
  /* border: 1px solid #4154f1 ; */
  border-bottom:2px solid #4154f1 ;
  background-color: rgb(201, 201, 228);
  border-radius: 10px;
}


.font{
  font-family: "Roboto";
  font-size: 16.5px;
}
.pand{
  font-size: 19px;
  font-family: "Roboto";
  font-weight: bolder;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
}
.fixed-top{
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


.nav1{
  background-color: white;
  border-bottom: 2px solid #4154f1;
  -webkit-box-shadow: 0 4px 6px -6px #4154f1;
  -moz-box-shadow: 0 4px 6px -6px #4154f1;
  box-shadow: 0 4px 6px -6px #4154f1;
}

.enter{
  margin-right: 4px;
}
.enter1{
  margin-left: 4px;
}
.sos{
  margin-right: 5px;
}
.home{
  color: white;
  text-decoration: none;
}





