.container {
    width: 100%;
    /* margin-left: 32%; */
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
}
.color{
color: white;
background-color: green;
}
.thankyou{
    color:#4154f1;
    font-family: "Helvetica";
}

.container {
    margin-left: auto;
    margin-right: auto;
}
.title{
    font-family: "Helvetica";
    font-weight: bold;
    padding-top: 20px;
    text-decoration: underline;
}
form{
   margin: 0 150px 0 150px;
}

.form-field{
    margin:0 100px 0 100px;
}










.input-typing {
    border: solid;
    background-color: rgb(62 212 209 / 60%);
    border-color: #f7e2e2;
}

.container-prescrption {
    margin-left: auto;
    margin-right: auto;
    width: 586px;
    background: #fff;
    margin-left: 165px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .container-prescrption {
        margin: 0 auto;
    }
    form{
        margin: 0;
     }
     
     .form-field{
         margin:0 10px 0 10px;
     }
}

@media screen and (max-width: 768px) {
    .container-prescrption {
        width: calc( 100% - 30px);
        max-width: 100%;
    }
}

.center {
    display: flex;
    /* height: 300px; */
    /* background-color: #ff1124; */
    justify-content: center;
}

.ckedit {
    width: 100%;
}

#sect1 {
    background-color: #D0D2E0;
}


/* ==========================================================================
   #FONT
   ========================================================================== */

.font-robo {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

.font-opensans {
    font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
}


/* ==========================================================================
   #GRID
   ========================================================================== */

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row .col-2:last-child .input-group-desc {
    margin-bottom: 0;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.row-refine {
    margin: 0 -15px;
}

.row-refine .col-3 .input-group-desc,
.row-refine .col-9 .input-group-desc {
    margin-bottom: 0;
}

.col-2 {
    width: -webkit-calc((100% - 30px) / 2);
    width: -moz-calc((100% - 30px) / 2);
    width: calc((100% - 30px) / 2);
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
}

.form-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 55px;
    border-bottom: 1px solid #e5e5e5;
}

.form-row .name {
    width: 188px;
    color: #333;
    font-size: 15px;
    font-weight: 700;
    margin-top: 11px;
}

.form-row .value {
    width: -webkit-calc(100% - 188px);
    width: -moz-calc(100% - 188px);
    width: calc(100% - 188px);
}

@media (max-width: 767px) {
    .form-row {
        display: block;
        padding: 24px 30px;
    }
    .form-row .name,
    .form-row .value {
        display: block;
        width: 100%;
    }
    .form-row .name {
        margin-top: 0;
        margin-bottom: 12px;
    }
}


/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */


/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


/* ==========================================================================
   #RESET
   ========================================================================== */


/**
 * A very simple reset that sits on top of Normalize.css.
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
    margin: 0;
    padding: 0;
}


/**
 * Remove trailing margins from nested lists.
 */

li>ol,
li>ul {
    margin-bottom: 0;
}


/**
 * Remove default table spacing.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */

fieldset {
    min-width: 0;
    /* [1] */
    border: 0;
}

button {
    outline: none;
    background: none;
    border: none;
}


/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */

.page-wrapper {
    min-height: 100vh;
    margin-top: -75pt;
}

body {
    font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}


/* ==========================================================================
   #BACKGROUND
   ========================================================================== */

.bg-blue {
    background: #2c6ed5;
}

.bg-red {
    background: #fa4251;
}

.bg-gra-01 {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.bg-gra-02 {
    background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
    background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
    background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

.bg-gra-03 {
    background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#b721ff));
    background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
}


/* ==========================================================================
   #SPACING
   ========================================================================== */

.p-t-100 {
    padding-top: 100px;
}

.p-t-130 {
    padding-top: 130px;
}

.p-t-180 {
    padding-top: 180px;
}

.p-t-45 {
    padding-top: 45px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-15 {
    padding-top: 15px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-100 {
    padding-bottom: 100px;
}

.p-b-50 {
    padding-bottom: 50px;
}

.m-r-45 {
    margin-right: 45px;
}

.m-r-55 {
    margin-right: 55px;
}

.m-b-55 {
    margin-bottom: 55px;
}


/* ==========================================================================
   #WRAPPER
   ========================================================================== */

.wrapper {
    margin: 0 auto;
}

.wrapper--w960 {
    max-width: 960px;
}

.wrapper--w900 {
    max-width: 1000px;
}

.wrapper--w790 {
    max-width: 790px;
}

.wrapper--w780 {
    max-width: 780px;
}

.wrapper--w680 {
    max-width: 680px;
}


/* ==========================================================================
   #BUTTON
   ========================================================================== */

.btn {
    display: inline-block;
    line-height: 50px;
    padding: 0 30px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
}

.btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.btn--green {
    border-color: #358f90;
}

.btn--green:hover {
    border-color: #358f90;
}

.btn--blue {
    background: rgb(62 212 209 / 60%);
}

.btn--blue:hover {
    background: rgb(62 212 209 / 60%);
}

.btn--blue-2 {
    background: rgb(62 212 209 / 60%);
    margin-left: 75%;
}

.btn--blue-2:hover {
    background: rgb(62 212 209 / 60%);
}

.btn--green-2 {
    border-color: #358f90;
    margin-left: 25%;
}

.btn--green-2:hover {
    border-color: #358f90;
}

.btn--red-2 {
    background: rgba(243, 17, 17, 0.774);
    margin-left: 25%;
}

.btn--red-2:hover {
    background: rgba(243, 17, 17, 0.774);
}

.btn--green {
    background: greenyellow;
    margin-left: 25%;
}

.btn--red {
    background: #ff4b5a;
}

.btn--red:hover {
    background: #eb3746;
}


/* ==========================================================================
   #DATE PICKER
   ========================================================================== */

td.active {
    background-color: #2c6ed5;
}

input[type="date" i] {
    padding: 14px;
}

.table-condensed td,
.table-condensed th {
    font-size: 14px;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.daterangepicker td {
    width: 40px;
    height: 30px;
}

.daterangepicker {
    border: none;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    display: none;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
}

.daterangepicker::after,
.daterangepicker::before {
    display: none;
}

.daterangepicker thead tr th {
    padding: 10px 0;
}

.daterangepicker .table-condensed th select {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px;
    outline: none;
}


/* ==========================================================================
   #FORM
   ========================================================================== */

input,
textarea {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

textarea {
    resize: none;
}

.input-group {
    position: relative;
    margin: 0;
}

.input--style-6,
.textarea--style-6 {
    background: transparent;
    line-height: 38px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #666;
    font-size: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0 20px;
}

.input--style-6::-webkit-input-placeholder,
.textarea--style-6::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999;
}

.input--style-6:-moz-placeholder,
.textarea--style-6:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
    opacity: 1;
}

.input--style-6::-moz-placeholder,
.textarea--style-6::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    opacity: 1;
}

.input--style-6:-ms-input-placeholder,
.textarea--style-6:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999;
}

.input--style-6:-ms-input-placeholder,
.textarea--style-6:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #999;
}

.input--style-6:focus,
.textarea--style-6:focus {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}

.textarea--style-6 {
    line-height: 1.2;
    min-height: 120px;
    padding: 10px 20px;
}

.label--desc {
    font-size: 13px;
    color: #999;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .label--desc {
        margin-top: 14px;
    }
}

.input-file {
    display: none;
}

.input-file+label {
    font-size: 15px;
    color: #fff;
    color: white;
    line-height: 40px;
    background-color: #666666;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.input-file:focus+label,
.input-file+label:hover {
    background: #1b1b1b;
}

.input-file__info {
    font-size: 15px;
    color: #666;
}

@media (max-width: 767px) {
    .input-file__info {
        display: block;
        margin-top: 6px;
    }
}


/* ==========================================================================
   #TITLE
   ========================================================================== */

.title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: black;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .title {
        padding: 0 15px;
    }
}


/* ==========================================================================
   #CARD
   ========================================================================== */

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-6 {
    background: transparent;
}

.card-6 .card-heading {
    background: transparent;
}

.card-6 .card-body {
    background: #fff;
    position: relative;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    padding: 30px 0;
    padding-bottom: 0;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
}

.card-6 .card-body:before {
    bottom: 100%;
    left: 75px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
}

.card-6 .card-footer {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-top: none;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px 50px;
}

@media (max-width: 767px) {
    .card-6 .card-footer {
        padding: 50px 30px;
    }
}

.box-border {
    border: solid;
    border-color: #358f90;
    border-radius: 5px;
}


/* .messagearea{
    border: solid;
    border-radius: 20px;
    background-color:rgb(20,160,157,0.85);
    ;
} */


/*------------------------------------------------Final Chat---------------------------------------------------------*/


/*------------------------------------------------Final Chat---------------------------------------------------------*/


/*------------------------------------------------Final Chat---------------------------------------------------------*/


/*------------------------------------------------Final Chat---------------------------------------------------------*/

.chat-ui {
    padding-right: 15px;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-left: 5%; */
    padding-top: 100px;
}

@media (max-width: 640px) {
    .container1 {
        display: flex;
        padding-top: 145%;
        margin-left: 0%;
        flex-direction: column;
        justify-content: space-around;
    }
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container1 {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}


/*Vedio call css */

#video-wrapper {
    text-align: center;
    background-color: #343434;
    border-radius: 4px;
}

#remote-video {
    /* max-width: 100%; */
    /* max-height: 50vh; */
    border-radius: 4px;
}

#local-video {
    margin-left: 450px;
    margin-bottom: -63px;
    bottom: 1.5rem;
    width: 10vw;
    height: 10vw;
    max-width: 10rem;
    border: 3px solid rgb(252, 252, 252);
    border-radius: 4px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 50px;
    margin-top: 5px !important;
    margin-left: 50px;
}

@media (max-width: 640px) {
    .row {
        padding-top: 10px;
        width: 90% !important;
        line-height: 12 !important;
    }
    #local-video {
        margin-left: 150px !important;
        margin-bottom: -50px !important;
        bottom: 1.5rem !important;
        width: 30vw !important;
        height: 30vw;
        max-width: 14rem;
        border: 3px solid white;
        border-radius: 4px;
    }
    @media(min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        .row {
            width: 90%;
            line-height: 12;
        }
    }
}