<div id="sect1" class="main">

    <div class="container">
        <div class="container">
            <div class="container" *ngIf="!condition;">

                <form [formGroup]="healthTipsForm" (ngSubmit)="onSubmit()" class=" bg-white mb-3 border doctor-tips">
                    <h2 class="title">Health Tips Form.</h2>

                    <!-- <div class="form-group form-field" style="padding-top: 25px;">
                        <label for="name">Full Name</label>
                        <input class="input--style-6 capitalize" class="form-control" type="text" name="name"
                            placeholder="this.doctorName" readonly>
                    </div>

                    <div class="form-group form-field " style="padding-top: 5px;">
                       <label for="specialist">Specialist</label>
                        <input class="input--style-6 capitalize " formControlName="specialist" type="text "
                            placeholder="this.doctorSpeciality" >
                        </div> -->

                    <div class="form-group form-field " style="padding-top: 5px;">
                        <div class="name ">Advice On </div>
                        <div class="value ">
                            <div class="input-group ">
                                <input class="input--style-6 capitalize " formControlName="adviceOn" type="text" placeholder="Health/Diet/Stress/Others ">
                                <div *ngIf="adviceOn.invalid && adviceOn.touched ">
                                    <div class="text-danger " *ngIf="adviceOn.errors?.required ">Advice type is required
                                    </div>
                                    <div class="text-danger " *ngIf="adviceOn.errors?.pattern || adviceOn.errors?.minlength ">Advice type must be at least 3 characters</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-field " style="padding-top: 5px;">
                        <div class="name ">Valuable Advice</div>
                        <div class="value ">
                            <div class="input-group ">

                                <textarea formControlName="tips" class="textarea--style-6 " name="message " placeholder="Advices" required></textarea>
                                <div *ngIf="tips.invalid && adviceOn.touched ">
                                    <div class="text-danger " *ngIf="tips.errors?.required ">Advice is required</div>
                                    <div class="text-danger " *ngIf="tips.errors?.pattern || tips.errors?.minlength ">
                                        Advice must be at least 3 characters</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-submit text-center mt-3 mb-5">
                        <button color="primary" mat-raised-button class="col-2" type="submit ">Submit</button>
                    </div>
                </form>



            </div>
            <!-- <div class="row text-center col-2 bg-white" >
                <button color="primary"  class="btn btn-primary mt-2" (click)="makeMeOnline() ">Make Me Online</button>
                <button class="mt-2 btn btn-warning" (click)="loggingOff() ">Make Me Away</button>
            </div> -->

            <div class="" style="justify-content: center; " *ngIf="condition; ">
                <mat-card class="example-card">
                    <mat-card-content style="margin-top: 30px; ">
                        <marquee behavior="alternate ">
                            <h3 class="thankyou">Thank you for your valubale Tip </h3>
                        </marquee>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>


        <div class="container1 ">
            <div class="col-md-4 chat-ui ">
                <div class=" ">
                    <div class="card ">
                        <div class="card-header msg_head ">
                            <div class="d-flex bd-highlight ">
                                <div class="img_cont ">
                                    <img src="https://library.kissclipart.com/20190406/cwq/kissclipart-surgeon-icon-png-clipart-computer-icons-clip-art-e1b95eb686c71747.jpg " class="rounded-circle user_img ">
                                    <span class="online_icon "></span>
                                </div>
                                <div class="user_info ">
                                    <span>Chat with Patient</span>
                                </div>
                                <div class="example-button-container  " style="margin-top: 10px; ">
                                    <button (click)="makeMeOnline()" aria-label="Example icon button with a heart icon ">
                                        <i class="fas fa-toggle-on rounded-circle user_img_msg"></i>
                                    </button>
                                </div>
                                <div class="example-button-container " style="margin-top: 10px; ">
                                    <button (click)="loggingOff()" aria-label="Example icon button with a heart icon ">
                                        <i class="fas fa-toggle-off rounded-circle user_img_msg"></i>
                                    </button>
                                </div>
                                <div class="example-button-container  " style="margin-top: 10px; ">
                                    <button mat-fab style="background-color: rgb(20,160,157,0.85); " (click)="showModal(false) " aria-label="Example icon button with a heart icon ">
                                        <mat-icon> video_call</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <span id="action_menu_btn "><i class="fas fa-ellipsis-v "></i></span>
                        </div>
                        <div class="card-body msg_card_body" *ngFor="let m of messages ">
                            <div class="d-flex justify-content-end mb-4 " *ngIf="m.username === this.prefilledemail.mail">
                                <div class="msg_cotainer ">
                                    <!-- <span class="msg_time ">{{m.date}}</span> -->
                                    <div class="msg_cotainer_send ">
                                        {{m.message}}
                                        <!-- <span class="msg_time_send ">{{m.date}}</span> -->
                                    </div>
                                </div>
                                <div class=" img_cont_msg ">
                                    <span></span> <img src="https://library.kissclipart.com/20190406/cwq/kissclipart-surgeon-icon-png-clipart-computer-icons-clip-art-e1b95eb686c71747.jpg " class="rounded-circle user_img_msg ">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4" *ngIf="m.username !== this.prefilledemail.mail">
                                <div class="img_cont_msg ">
                                    <img src="https://www.clipartmax.com/png/small/268-2681193_standing-man-with-injured-head-and-leg-with-a-crutch-patient-icon.png " class=" rounded-circle user_img_msg ">
                                </div>
                                <!-- <span class="msg_time ">{{m.date}}</span> -->
                                <div class="msg_cotainer_send ">
                                    {{m.message}}
                                    <!-- <span class="msg_time_send ">{{m.date}}</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="input-group ">
                                <div class="input-group-append ">
                                    <span class="input-group-text attach_btn "><i class="fas fa-paperclip "
                                            style="width: 30px; "></i></span>
                                </div>
                                <!-- <textarea name=" " style="padding-top: 20px; padding-left: 25px; background: white; " class="form-control type_msg " placeholder="Type your message... "></textarea> -->
                                <div class="input-group-append " style="background-color: #82CCDD; border-radius: 15px; ">
                                    <input name="message " autocomplete="off " type="text " [(ngModel)]="messgaeTyped " placeholder="Type Message ... " class=" input-typing form-control ">
                                    <button type="button " class="btn btn-warning btn-flat " [disabled]="!messgaeTyped " (click)="send() ">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 vedio-ui ">
                <div class="card ">
                    <div class="video-content ">
                        <div class="d-flex flex-column align-items-center justify-content-center ">
                            <div class="row " style="width: 90%; line-height: 30; padding-top: 10px; ">
                                <div class="col text-center ">
                                    <div id="video-wrapper ">
                                        <video #remoteVideo id="remote-video " poster="./assets/video-placeholder.jpg " autoplay playsinline></video>
                                        <video #localVideo id="local-video " autoplay playsinline [muted]=true></video>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="example-button-container " style="margin-top: 10px; ">
                                    <button mat-fab color="warn" (click)="endCall()" aria-label="Example icon button with a heart icon ">
                                        <mat-icon> call_end</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>














<!-- <div class="container ">

            <div class="col-md-6 ">

                <div class="chat ">
                    <div class="page-content page-container " id="page-content ">
                        <div class="padding ">
                            <div class="row container d-flex justify-content-center ">
                                <div class="box box-warning direct-chat direct-chat-warning ">
                                    <div class="box-border ">
                                        <div class="box-header with-border fullborder ">
                                            <div class="chattitle ">
                                                <h3 class="box-title "><button type="button " class="btn btn-box-tool " data-toggle="tooltip " title=" " data-widget="chat-pane-toggle " data-original-title="Contacts "> <i
                                                            class="fa fa-comments "></i></button>Chat Message</h3>
                                                <button style="margin-left: 5px;float: right; margin-right: 5px; " type="button "><i style="padding: 15px; "
                                                        class="fas fa-video fa-2x "></i></button>
                                                <span>
                                                    <button style="margin-left: 5px;float: right;margin-right: 5px; "
                                                        type="button " (click)="videocall() "><i style="padding: 15px; "
                                                        class="fas fa-file-medical fa-2x "></i></button>
                                                </span>
                                            </div>
                                            <div class="box-body ">
                                                <div class="direct-chat-messages ">
                                                    <div>
                                                        <div class="direct-chat-msg " *ngFor="let m of messages ">
                                                            <div class="direct-chat-info clearfix "> <span class="direct-chat-name pull-left ">{{m.username}}</span>
                                                                <span class="direct-chat-timestamp pull-right ">23 Jan 2:00
                                                                    pm</span>
                                                            </div> <img class="direct-chat-img " src="https://img.icons8.com/color/36/000000/administrator-male.png " alt="message user image ">
                                                            <div class="direct-chat-text ">
                                                                <span *ngIf="m.type=='MESSAGE' " [ngStyle]="{ 'color': m.color} "> </span> {{m.message}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-footer ">
                                                <div class="bgchat ">
                                                    <form action="# " method="post ">
                                                        <div class="input-group ">
                                                            <input name="message " autocomplete="off " type="text " [(ngModel)]="messgaeTyped " placeholder="Type Message ... " class=" input-typing form-control ">
                                                            <span style="border-radius:25px; margin-left: 5px; " class="input-group-btn ">
                                                                <button type="button " class="btn btn-warning btn-flat "
                                                                    [disabled]="!messgaeTyped "
                                                                    (click)="send() ">Send</button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">

                <app-video-room></app-video-room>
            </div>


    </div>-->