/* :host {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */


:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
    /* background-color: blueviolet; */
  }
  
  :host ::ng-deep .mat-tab-labels {
    flex-direction: column;
  }
  
  mat-tab-group {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background: lavender;
  }
  
  :host ::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  mat-tab-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  :host ::ng-deep mat-ink-bar {
    display: none;
  }
  
  /* Styles for the active tab label */
  :host ::ng-deep.mat-tab-label.mat-tab-label-active {
      background-color: transparent;
      color: white;
      background-color: #4154F1 ;
      border-right: 2px solid white;
  }

  mat-tab-label{
      margin-top: 50px;
  }
/* 
  @media (max-width:567px) {
  :host ::ng-deep .mat-tab-body-wrapper {
    width: 100%;
    flex-direction: row;
  }
  } */