<!-- <div class="tab-head">
  <mat-tab-group>
    <mat-tab label="Add Beds">
      <app-bed-request></app-bed-request>
     </mat-tab>
     <mat-tab label="Add Medicines">
      <app-medicine-request></app-medicine-request>
    </mat-tab>
    <mat-tab label="Add Medical Equipments">
      <app-equipment-request></app-equipment-request>
      </mat-tab> 
  </mat-tab-group>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-tab-group [@.disabled]="true" dynamicHeight>


        <!-- <div class="col-md-12"> -->
          <mat-tab>
            <!-- <div class="col-sm-2"> -->
              <ng-template mat-tab-label>
                Add Beds
              </ng-template>
            <!-- </div> -->
            <!-- <div class="col-sm-10"> -->
              <app-bed-request></app-bed-request>
            <!-- </div> -->
          </mat-tab>
        <!-- </div> -->



        <mat-tab>
          <ng-template mat-tab-label>
            Add Medicine
          </ng-template>
          <app-medicine-request></app-medicine-request>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            Add Equipments
          </ng-template>
          <app-equipment-request></app-equipment-request>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>