<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Categories</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Donate</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Raise a request</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Consult</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Volunteer</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Leaderboard</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Resources</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Help</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Company</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Terms of use</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Our Team</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="font col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a>Pandoptimist</a></u> </p>
                <p class="h6">@2021 Pandoptimist All right Reversed.<a class="text-green ml-2" target="_blank">Pandoptimist</a>
                </p>
            </div>
        </div>
    </div>
</section>