

<!-- <div class="tab-head"> -->
  <mat-tab-group dynamicHeight>
    
     <mat-tab label="SOS Requests">
      <app-sos-request></app-sos-request>
    </mat-tab>
    <mat-tab label="Verification">
    <app-verification></app-verification>
    </mat-tab>
    <mat-tab label="Add Resource">
      <app-add-resource></app-add-resource>
     </mat-tab>
    
  </mat-tab-group>
<!-- </div> -->


<!-- <div class="tab-head">
  <mat-tab-group dynamicHeight>
    
     <mat-tab>
      <ng-template mat-tab-label>SOS Requests</ng-template>
      <app-sos-request></app-sos-request>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Verification</ng-template>
    <app-verification></app-verification>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Add Resource</ng-template>
      <app-add-resource></app-add-resource>
     </mat-tab>
    
  </mat-tab-group>
</div> -->