<!-- <div class="tab-head">
    <mat-tab-group>
        <mat-tab label="Doctor Consultant">
            <app-consultantform></app-consultantform>
        </mat-tab>
        <mat-tab label=" Plasma Request">
            <div class="tabs">
                <app-plasma-request></app-plasma-request>
            </div>
        </mat-tab>
        <mat-tab label="Medical Request">
            <div class="tabs">
                <app-request-form></app-request-form>
            </div>
        </mat-tab>
    </mat-tab-group>
</div> -->

<!-- <div class="tab-head"> -->
    <mat-tab-group dynamicHeight>
        
        <mat-tab label="Blood Request">
            <app-plasma-request></app-plasma-request>
        </mat-tab>
        <mat-tab label="Medical Request">
            <app-request-form></app-request-form>
        </mat-tab>
        <mat-tab label="Doctor Consultant">
            <app-consultantform></app-consultantform>
        </mat-tab>
    </mat-tab-group>
<!-- </div> -->