<div class="main">

    <div class="container">
        <div class="signup-content">
            <!-- <div class="signup-img">
                <img src="../../../assets/doctor.png" alt="">
                <div class="signup-img-content">
                    <h2>Register now </h2>
                  <p>while seats are available !</p>
                </div>
            </div> -->
            <div class="signup-form" *ngIf="!condition">
                <h1 class="title">Medical Request Form</h1>

                <form [formGroup]="patientForm" class=" register-form" (ngSubmit)="onSubmit()" id="register-form">

                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-input">
                                <label for="full_name" class="required">Full Name</label>
                                <input formControlName="name" class="capitalize" placeholder="Enter the full name" required>
                                <div *ngIf="name.invalid && name.touched">
                                    <small class="text-danger" *ngIf="name.errors?.required">Name is
                    required</small>
                                    <small class="text-danger" *ngIf="name.errors?.minlength || name.errors?.pattern">Name must be at
                    least
                    3 characters</small>
                                </div>
                            </div>
                            <div class="form-input">
                                <label class="required" for="hospitalized">Hospitalized</label>
                                <select formControlName="hospitalized" class="form-control" id="selection" required>
                  <option *ngFor="let hosp of hospitalizedGroups" [value]="hosp.hospitalizedType">
                    {{hosp.hospitalizedType}}
                  </option>
                </select>
                                <!-- </div> -->
                            </div>
                            <div class="form-input">
                                <label for="email" class="required">Email Id</label>
                                <input type="text" placeholder="Enter Email Id" [disabled]=true [value]='this.prefilledemail.mail'>


                                <!-- <input formControlName="email" type="text" placeholder="Enter Email Id" [class.is-invalid]="email.invalid && email.touched" required>
                                <div *ngIf="email.invalid && email.touched">
                                    <small class="text-danger" *ngIf="email.errors?.required">Valid Email ID required</small>
                                    <small class="text-danger" *ngIf="email.errors?.minlength || email.errors?.pattern">Valid Email
                    like(username123@gmail.com)</small>
                                </div> -->
                            </div>


                            <div class="form-input">
                                <div class="upload">
                                    <label for="email">Upload Prescription</label>
                                    <div>
                                        <input type="file" accept="image/*" (change)="showPreview($event)" formControlName="uploadPrescription">

                                        <!-- <input type="file" (change)="onFileChanged($event)" formControlName="uploadPrescription"> -->
                                    </div>
                                    <!-- <input type="button" (click)="onUpload()" class="btn btn-secondary btn-sm btn-upload" value="Upload File"> -->
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="form-input">
                                <label for="MobileNumber" class="required">Mobile Number</label>
                                <input type="number" formControlName="phoneNumber" [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched" maxlength="10" placeholder="Enter Mobile Number" required>
                                <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
                                    <small class="text-danger" *ngIf="phoneNumber.errors?.required">Mobile
                    Mobile Number required</small>
                                    <small class="text-danger" *ngIf="phoneNumber.errors?.minlength || phoneNumber.errors?.pattern">Mobile
                    Number must
                    be 10 digits</small>
                                </div>
                            </div>
                            <div class="form-input">
                                <label class="required" for="gender">Gender</label>
                                <select formControlName="gender" class="form-control" id="selection" required>
                  <option *ngFor="let gender of genderGroups" [value]="gender.genderType">
                    {{gender.genderType}}
                  </option>
                </select>

                            </div>

                            <div class="form-input">
                                <label class="required" for="type">Type</label>
                                <select formControlName="type" class="form-control" id="selection" required>
                <option *ngFor="let type of requirmentTypeGroup" [value]="type.requestType">
                  {{type.requestType}}
                </option>
              </select>

                            </div>


                            <div class="form-input" style="padding-top: 15px;">
                                <label for="city" class="required" style="margin-bottom: -11px;">City</label>
                                <mat-form-field class="example-full-width" style="width: 100%;">
                                    <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" required>
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>


                                <!-- 
                                <input type="text" class="capitalize" formControlName="city" matInput placeholder="Enter the city">
                                <div *ngIf="city.invalid && city.touched">
                                    <small class="text-danger" *ngIf="city.errors?.required">City is required</small>
                                    <small class="text-danger" *ngIf="city.errors?.minlength || city.errors?.pattern">City name must be at least 3
                    characters</small>
                                </div> -->
                            </div>


                        </div>





                        <div class="card-body" class="capitalize" formArrayName="requirement">
                            <div class="row">
                                <label for="requirement" class="required">Requirement</label>
                                <div *ngFor="let contact of contactFormGroup.controls; let i = index;">
                                    <div [formGroupName]="i" class="row">
                                        <div>
                                            <button style=" float: right;" class="btn btn-danger btn-sm" type="button" (click)="removeRequest(i)"> <i style="padding: 5px;" class="far fa-trash-alt"></i> </button>
                                            <button style="margin-right: 20px;float: right; " class="btn btn-success btn-sm" type="button" (click)="addRequest()"><i style="padding: 5px;" class="far fa-plus-square"></i></button>
                                        </div>
                                        <div class="mt-2">
                                            <input class="form-control" formControlName="requirementName" type="text" placeholder="Beds/Oxygen/Medicine/Ventilators">
                                            <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['requirementName'].touched && getContactsFormGroup(i).controls['requirementName'].hasError('required')">
                        please fill the form </span>
                                        </div>
                                        <div class="mt-2">
                                            <input formControlName="quantity" type="number" placeholder="Quantity">
                                            <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['quantity'].touched && getContactsFormGroup(i).controls['quantity'].hasError('required')">
                        Quantity is required</span>
                                        </div>
                                        <div class="mt-2 mb-2">
                                            <input class="form-control" formControlName="unitOfMeasure" type="text" placeholder="Bed Type/Bottle/Cylinders/Sheets">
                                            <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['unitOfMeasure'].touched && getContactsFormGroup(i).controls['unitOfMeasure'].hasError('required')">
                        Units is reuired </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-submit mt-3">
                        <p class="text-center">
                            <button id="btnsubmit" style="width: 110px; float: right;" mat-raised-button color="primary">Submit</button>
                        </p>
                        <!-- <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                      <input type="submit" value="Reset" class="submit" id="reset" name="reset" /> -->
                    </div>
                </form>
            </div>

            <div class="mt-3" style="justify-content: center;margin-top:30px;margin-left: 100px;" *ngIf="condition">
                <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/stay-home-.jpg" style="height: 200px;width:300;" alt="Photo">
                    <mat-card-content style="margin-top: 10px;">
                        <h3 style="color:green">Your request is sent Sucessfully.Your Requirment will be Proceed Soon .Stay Safe
                        </h3>
                    </mat-card-content>
                </mat-card>
                <div>
                    <a class="nav-link" class="btn btn-success" style="margin-top: 30px; float:right " (click)="onclick()">Exit</a>
                </div>
            </div>

        </div>

    </div>



    <!-- <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2" style="margin-top: 10px;" *ngIf="!condition;">

        <form [formGroup]="patientForm" class="form-container" (ngSubmit)="onSubmit()">
          <mat-card>
            <mat-card-content>

              <div class="mt-3">
                <mat-form-field class="full-width">
                  <input formControlName="name" matInput placeholder="Enter the full name">
                  <mat-error *ngIf="name.invalid && name.touched">
                    {{errors.name}}
                  </mat-error>
                </mat-form-field>


              </div>
              <div class="mt-3">
                <label style="margin-bottom: 3px;">Gender</label>
                <input id="male" style=" margin-left: 40px;" type="radio" formControlName="gender" name="gender"
                  class="custom-control-input" value="male"><label style="margin-left: 5px;">Male</label>
                <input id="female" style=" margin-left: 40px;" type="radio" formControlName="gender" name="gender"
                  classs="custom-control-input" value="female"><label style="margin-left: 5px;">Female</label>
              </div>
              <div class="mt-2">
                <mat-form-field class="full-width">
                  <textarea formControlName="phoneNumber" matInput placeholder="Mobile number"></textarea>
                  <mat-error *ngIf="phoneNumber.invalid && phoneNumber.touched">
                    {{errors.phoneNumber}}
                  </mat-error>
                </mat-form-field>


              </div>
              <div class="mt-2">
                <mat-form-field class="full-width">
                  <textarea formControlName="email" matInput placeholder="Email"></textarea>
                  <mat-error *ngIf="email.invalid && email.touched">
                    {{errors.email}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="mt-3">
                <label style="margin-bottom: 3px;">Hospitalized</label>
                <input id="yes" style=" margin-left: 30px;" type="radio" formControlName="hospitalized"
                  name="hospitalized" class="custom-control-input" value="yes"><label
                  style="margin-left: 5px;">Yes</label>
                <input id="no" style=" margin-left: 30px;" type="radio" formControlName="hospitalized" name="hospitalized"
                  class="custom-control-input" value="no"><label style="margin-left: 5px;">No</label>

              </div>
              <div class="mt-2">
                <mat-form-field class="full-width">
                  <textarea formControlName="city" matInput placeholder="City"></textarea>
                  <mat-error *ngIf="city.invalid && city.touched">
                    {{errors.city}}
                  </mat-error>
                </mat-form-field>
              </div>



               <div class="card-header">Your Requirment</div>
              <div class="card-body" formArrayName="requirement">
                <div class="row">
                  <div  *ngFor="let contact of contactFormGroup.controls; let i = index;">
                    <div [formGroupName]="i" class="row">
                      <div class="mt-2">
                        <input class="form-control" formControlName="requirementName" type="text" placeholder="Beds/Oxygen/Medicine/Ventilators">
                        <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['requirementName'].touched && getContactsFormGroup(i).controls['requirementName'].hasError('required')">
                          please fill the form </span>
                      </div>


                      <div class="mt-2">
                        <input formControlName="quantity" type="number" placeholder="Quantity">
                        <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['quantity'].touched && getContactsFormGroup(i).controls['quantity'].hasError('required')">
                         Quantity is required</span>
                      </div>

                      <div class="mt-2">
                          <input class="form-control" formControlName="unitOfMeasure" type="text" placeholder="Bottle/Cylinders/Sheets">
                          <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['unitOfMeasure'].touched && getContactsFormGroup(i).controls['unitOfMeasure'].hasError('required')">
                            Units is reuired </span>
                        </div>
                      <div class="mt-2">
                        <button style=" float: right;"class="btn btn-success btn-sm" type="button" (click)="removeRequest(i)"> <i style = "padding: 5px;" class="fas fa-trash-alt"></i> </button>

                        <button style="margin-right: 20px;float: right; "class="btn btn-success btn-sm" type="button" (click)="addRequest()"><i style = "padding: 5px;"class="fas fa-plus"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class=mt-2>

              <div class="card-header">Upload Prescription</div>
              <div class="row mt-3">

                <div class="col-ms-6 mb-3 mr-3">

                  <input type="file" (change)="onFileChanged($event)" formControlName="uploadPrescription">
                  <input type="button" (click)="onUpload()" value="Upload File">

                </div>
              </div>
            </div>
          </mat-card-content>
          <div class="mt-3">
            <button id="btnsubmit" class="btn btn-success"
              style="float:inline-end; margin-bottom: 10px;">Submit</button>
          </div>
        </mat-card>

      </form>

    </div>



    <div class="mt-3" style="justify-content: center;" *ngIf="condition">
      <mat-card class="example-card">
        <mat-card-content style="margin-top: 30px;">
          <h3 style="color:green">Your request is sent Sucessfully.Your Requirment will be Proceed Soon .Stay Safe</h3>
        </mat-card-content>
      </mat-card>

    </div>

    </div>
  </div> -->